---
import Base from '../layouts/Base.astro';
import ListItem from '../components/ListItem.astro';

// import { Image } from 'astro:assets';
// import partyPopper from '../images/party-popper.png';
---

<Base>
  <div class="container">
    <section class="mb-32 lg:mb-52">
        <div class="grid grid-cols-4 lg:grid-cols-12 gap-x-5 lg:gap-[1.875rem]">
            <div class="col-span-4 lg:col-span-7">
                <h1 class="mb-6">Freelance WordPress developer, building custom WordPress themes from Figma designs.</h1>
            </div>
        </div>
        <div class="grid grid-cols-4 lg:grid-cols-12 gap-x-5 lg:gap-[1.875rem]">
            <div class="col-span-4 lg:col-span-5">
                <p>Exclusively working with web agencies worldwide, I am heavily focused on front-end development, frequently using ACF Pro, Local by Flywheel, TailwindCSS, Vite.js, Web Components, and Storybook.</p>
            </div>
        </div>
    </section>
    
    <section class="mb-5 lg:mb-[1.875rem]">
      <h2 class="pb-3 border-b border-black block">Work</h2>
      <ul>
        <ListItem name="Harlem capital" description="" href="https://harlem.capital" linkText="Visit website" />
        <ListItem name="What a howler" description="" href="https://whatahowler.com" linkText="Visit website" />
        <ListItem name="Future Visual" description="" href="https://futurevisual.com" linkText="Visit website" />
        <ListItem name="Hotpmo" description="" href="https://hotpmo.com/" linkText="Visit website" />
        <ListItem name="Hodern" description="" href="https://thehordern.com.au/" linkText="Visit website" noBorder />
      </ul>
    </section>
  </div>
</Base>