---
---

<footer class="mb-5 lg:mb-[1.875rem]">
    <div class="container">
        <div class="flex justify-between">
            <a href="mailto:hello@baillieogrady.com" class="underline underline-offset-2 hover:no-underline hover:text-blue">Email</a>
        </div>
    </div>
</footer>