---
---

<footer class="mb-5 lg:mb-[1.875rem]">
    <div class="container">
        <div class="flex justify-between">
            <p>I don't use social media</p>
            <a href="https://github.com/baillieogrady" class="underline underline-offset-2 hover:no-underline hover:text-blue">Github</a>
        </div>
    </div>
</footer>