---
---

<footer class="mb-5 lg:mb-[1.875rem]">
    <div class="container">
        <div class="flex justify-between">
            <p>I don't use social media</p>
            <a href="https://github.com/baillieogrady" class="underline underline-offset-2 hover:no-underline hover:text-blue">Github</a>
        </div>
    </div>
</footer>

<!-- Hotjar Tracking Code for my site -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3838011,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>