---
---

<header class="pt-5 lg:pt-[1.875rem] mb-16 lg:mb-32">
    <div class="container">
        <div class="grid grid-cols-4 lg:grid-cols-12 gap-x-5 lg:gap-[1.875rem]">
            <div class="col-span-2 lg:col-span-4">
                <h1>Baillie O'Grady</h1>
            </div>
            <div class="hidden lg:block lg:col-span-4">
                <p class="before:content-[' '] before:w-2.5 before:h-2.5 before:rounded-full before:mr-2 before:bg-red-500 flex items-center">
                    <span>Next available: 29th January 2024</span>
                </p>
            </div>
            <div class="col-span-2 lg:col-span-4 lg:col-start-10 text-right">
                <a href="mailto:hello@baillieogrady.com?subject=Figma Link" class="group text-right flex items-center justify-end text-nowrap"><span class="underline underline-offset-2 group-hover:no-underline group-hover:text-blue lg:mr-1">Email me</span><span class="hidden lg:block"> your Figma link for a free quote </span></a>
            </div>
        </div>
    </div>
</header>