---
import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro'; 
import Head from '../components/Head.astro'; 
import '../styles/app.css';
---

<html lang="en">
  <Head title="Baillie O'Grady - Freelance WordPress Developer based in Manchester, England" description="Freelance WordPress Developer based in Manchester, England"/>
  
  <body class="flex flex-col leading-[1.6]">
    <Header />

    <main class="flex-1 overflow-hidden" id="content">
      <slot />
      <!-- <div class="container">
        <section class="mb-32 lg:mb-52">
          <div class="grid grid-cols-4 lg:grid-cols-12 gap-x-5 lg:gap-x-[1.875rem]">
              <div class="lg:col-start-5 col-span-4">
                  <h2 class="text-[1.4375rem] leading-[1.4] font-normal pb-3">Figma designs ready?</h2>
                  <p>
                      <a href="mailto:hello@baillieogrady.com?subject=Figma Link" class="group text-right"><span class="underline underline-offset-2 group-hover:no-underline group-hover:text-blue">Email</span> me your Figma link for a free quote </a>
                  </p>
              </div>
          </div>
        </section>
      </div> -->
    </main>
    
    <!-- <Footer /> -->
  </body>
</html>